.root {
  color: var(--color-text-on-background);
  fill: var(--color-text-on-background);

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style-type: none;
  }

  li {
    height: fit-content;

    a {
      color: var(--color-text-on-background);
    }
  }

  // aria-hidden means that it's a delimiter between items.
  li[aria-hidden='true'] {
    margin-left: 0.2em;
    margin-right: 0.2em;

    height: 24px;
  }
}
