@use '../../theme/utils' as *;

.root {
  $text-color: var(--color-text-on-background);
  $text-color-disabled: var(--color-text-on-background-dark);

  position: relative;

  cursor: pointer;

  &-open {
    .header svg {
      transform: rotateX(180deg);
    }
  }

  .header {
    padding: 0.75em 0;

    border: 2px solid $text-color;
    border-radius: 0.5em;

    background: transparent;

    width: 100%;

    display: flex;
    align-items: center;

    p {
      flex-grow: 1;

      margin-left: 0.75em;

      text-align: start;
      color: $text-color;

      width: fit-content;
    }

    svg {
      @include size(12px);

      margin-left: 8px;
      margin-right: 8px;

      fill: $text-color;

      transition: transform 0.1s linear;
    }

    &:disabled {
      color: $text-color-disabled;
      border-color: $text-color-disabled;

      svg {
        fill: $text-color-disabled;
      }

      p {
        color: $text-color-disabled;
      }
    }
  }

  .items {
    position: absolute;

    top: calc(100% + 2px);
    left: 0;
    width: 100%;

    overflow-y: auto;

    background: var(--color-background);
    box-shadow: 1px 1px 4px #000;

    border-radius: 0 0 8px 8px;

    z-index: 999;

    max-height: 50dvh;

    li {
      transition: background-color 0.1s linear;

      white-space: wrap;
      word-break: break-all;

      padding: 0.5em;

      &:hover,
      &:focus {
        background: var(--color-background-dark);
      }
    }
  }
}
