@use '../../theme/utils' as *;

.root {
  $text-color: var(--color-text-on-background);
  $padding-right: 0.5em;
  $button-size: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;

  // Use new select styling if possible. If not, fallback to default style.
  appearance: base-select;

  margin: 0;
  padding: 0.75em;
  padding-right: $padding-right;

  border: 2px solid $text-color;
  border-radius: 0.5em;
  outline: none;

  font-family: var(--font-murs-gothic);

  cursor: pointer;

  // Hide default picker icon. We use our own.
  &::picker-icon {
    display: none;
  }

  // Picker icon
  & > button {
    fill: $text-color;

    &,
    svg {
      @include size($button-size);
    }

    svg {
      transition: transform 0.1s linear;
    }
  }

  &:open > button svg {
    transform: rotateX(180deg);
  }

  &::picker(select) {
    appearance: base-select;
    border: none;
    outline: none;
    background: transparent;

    box-shadow: 1px 1px 4px #000;

    border-radius: 0 0 8px 8px;

    transition: opacity 0.1s linear;

    &:popover-open {
      opacity: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
      }
    }
  }

  option {
    padding: 0.25em 0.5em;

    transition: background-color 0.1s linear;

    &:hover,
    &:focus {
      background: var(--color-background-dark);
    }

    &::checkmark {
      display: none;
    }
  }

  &,
  option {
    background: var(--color-background);
    color: $text-color;
  }

  option,
  selectedcontent {
    white-space: wrap;
    word-break: break-all;
  }

  selectedcontent {
    width: calc(100% - $button-size - $padding-right);
  }
}
