.root {
  position: relative;
  height: 4em;
}

.text {
  font-size: 3em;
  font-family: 'Dela Gothic';

  position: absolute;
  left: 50%;
  top: 6%;

  transform: translate(-50%, 0);
}

.plot {
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
}