.root {
  $size: 128px;

  display: block;

  width: $size;
  height: $size;
  transform: rotate(-90deg);

  circle {
    fill: none;
    stroke-width: 10px;
  }
}

.back-circle {
  stroke: #bbb;
}

.arc {
  stroke: #7b25a3;
}