.root {
  font-family: Consolas;
  padding: 4px;

  &:focus {
    border: none;
    outline: none;
  }
}

.node-header, .node-bold {
  font-weight: 700;
  color: var(--color-primary);
}

.node-italic {
  font-style: italic;
}