.root {
  position: relative;

  .drop-overlay {
    display: none;

    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;

    justify-content: center;
    align-items: center;
  }

  &[data-over=true] .drop-overlay {
    display: flex;
  }
}

