@use '../../theme/utils' as *;

.root {
  border: 1px solid var(--color-text-on-background);
  border-radius: 8px;
  padding: 4px;

  box-shadow: 0 0 2px var(--color-text-on-background);

  :global(.ProseMirror:focus) {
    outline: none;
  }

  :global(.tiptap) {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.menu {
  margin-bottom: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  @include size(32px);
}

.toggle-button {
  @extend .button;

  &[data-active='true'] {
    background: var(--color-background-dark);
  }
}

.save-button {
  @extend .button;

  transform: scale(1);
  transition: transform .05s linear;

  margin-left: auto;
  
  &[data-active='false'] {
    transform: scale(0);
  }
}
