.root {
  border: 2px solid var(--color-text-on-background);
  border-radius: 0.75em;

  background: none;
  outline: none;
  resize: none;

  margin: 0;
  padding: 0.5em;

  color: var(--color-text-on-background);
}
