@use '../../../../theme/breakpoints' as *;

.root {
  display: flex;

  flex-grow: 1;
  align-items: stretch;

  position: relative;
}

.editor {
  flex-grow: 1;
}

.tab-container {
  position: relative;
}

.tab-wrapper {
  width: 20%;

  display: flex;
  flex-direction: column;

  z-index: 10;

  > * {
    flex-grow: 1;
  }

  @include breakpoint-down('md') {
    $offset: 38px;

    position: absolute;

    width: calc(100% - $offset);
    height: 100%;

    margin-left: $offset;
  }
}