@use '../../theme/breakpoints' as *;
@use '../../theme/typography' as *;
@use 'sass:map';

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  line-height: 1.58;

  * {
    white-space: pre-wrap;
  }

  main {
    display: block;
  }

  a {
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    word-break: normal !important;
    color: unset;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-underline-position: auto;
    }
  }

  $header-levels: (1, 2, 3, 4, 5, 6);

  @each $level in $header-levels {
    $tag: h#{$level};

    #{$tag} {
      $options: map.get($variants, $tag);
      
      @include variant-body($options);
    }
  }
  

  hr {
    box-sizing: content-box;
    align-self: center;
    overflow: visible;
    
    width: 50%;
    height: 0;

    margin: 0.5em 0;

    opacity: 0.8;
  }

  b,
  strong {
    font-weight: bolder;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
  }

  figure, img {
    align-self: center;
  }

  [hidden] {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0.5em 0 0.5em 1em;
  }

  table {
    width: 100%;
    table-layout: fixed;

    @include breakpoint-up('md') {
      table-layout: auto;
    }
  }

  th,
  td {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-all;
    padding: 0.4rem;

    @include breakpoint-up('md') {
      width: auto;
      word-wrap: initial;
      overflow-wrap: initial;
    }
  }

  table,
  thead,
  tbody,
  th,
  td {
    border: 1px solid var(--color-text-on-background);
    border-collapse: collapse;
  }

  blockquote {
    border-left: 2px solid var(--color-text-on-background);

    padding-left: 1em;
    margin: 1em 0;
    margin-left: 0;
  }

  figcaption {
    text-align: center;
    opacity: 0.8;
    margin-top: 8px;
  }
}
