@use '../../theme/breakpoints' as *;

.root {
  $day: calc(var(--day) + 1);

  grid-column: $day/$day;
  grid-row: 1/1;

  text-align: center;
  margin: 0.5em 0.5em;

  font-weight: 700 !important;

  &[data-is-empty='true'] {
    display: none;
  }

  @include breakpoint-up('lg') {
    &[data-is-empty='true'] {
      display: block;
    }
  }
}
