.root {
  $letter-spacing: 0.4em;

  text-align: center;
  text-transform: uppercase;
  font-size: min(5em, 8vw);
  font-family: 'Press Start';
  letter-spacing: $letter-spacing;
  margin-right: -$letter-spacing;

  text-shadow: 2px 2px 0 #d7d7d7;
  -webkit-text-stroke: 1px #000;

  &-animation {
    animation: 0.5s anim linear;
  }
}

@keyframes anim {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}
