.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.next
*.tsbuildinfo
.env.local
dist
.wrangler
.eslintcache
.stylelintcache
coverage

worker-configuration.d.ts