@use '../../../theme/breakpoints' as *;

@mixin desktop-view() {
  @include breakpoint-up('md') {
    @content;
  }
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 4px;
  margin-right: 4px;
}

.content {
  background-color: var(--color-background-dark);
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 1px 1px 2px #000;

  display: flex;
  flex-direction: column;

  animation: scale-intro 0.1s ease-in 0s;

  @include desktop-view {
    flex-direction: row;
    width: 90%;
    height: 80%;
  }

  img {
    width: 100%;

    // TOOD: This is a quick fix. Need a long term fix.
    height: 80dvh;

    object-fit: contain;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    border-right: 2px solid var(--color-background);

    @include desktop-view {
      width: 60%;
      height: 100%;
    }
  }

  @keyframes scale-intro {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}

.info-side {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  flex-grow: 1;

  padding-left: 0.5em;

  margin: 1em 0;

  @include desktop-view {
    margin: 0;
    padding: 0.75em;
  }
}

.delete {
  align-self: end;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.text-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    fill: var(--color-text-on-background);
    margin-right: 0.5em;
  }
}
