@use '../../../theme/utils' as *;

.content {
  @include px(2em);

  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
}

.image-scroll {
  width: 100%;
}

.upload {
  color: var(--color-text-on-background);
  text-decoration: none;

  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 1em;

  font-family: var(--font-murs-gothic);
  font-weight: 700;

  svg {
    @include size(28px);

    fill: var(--color-text-on-background);
    transition: fill .1s linear;
    margin-right: 4px;
  }
}