@use '../../theme/typography' as *;

.root {
  padding: 0;
  margin: 0;

  font-family: var(--font-murs-gothic);

  @each $variant, $options in $variants {
    &[data-variant='#{$variant}'] {
      @include variant-body($options);
    }
  }
}

@each $variant, $options in $variant-headers {
  #{$variant}.root {
    @include variant-body($options);
  }
}
