@use '../../theme/typography' as *;

.root {
  font-family: var(--font-murs-gothic);

  &[data-has-icon=true] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    svg {
      fill: var(--color-text-on-background);
    }
  }

  @each $variant, $options in $variants {
    &[data-variant='#{$variant}'] {
      @include variant-body($options);
    }
  }
}
