@use '../../theme/breakpoints' as *;
@use '../../theme/utils' as *;

@mixin desktop-view() {
  @include breakpoint-up('md') {
    @content;
  }
}

.root {
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 10px;
  padding: 7px 0;

  border-bottom: 3px solid var(--color-primary);

  @include desktop-view() {
    margin: 0 40px;
    padding: 10px 0;
  }
}

.logo {
  @include size(50px);

  img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: none;
  list-style: none;

  flex-grow: 1;

  a {
    font-size: 1.1em !important;
    font-weight: 600 !important;
  }

  @include desktop-view() {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.buttons {
  display: none;
  gap: 30px;

  @include desktop-view() {
    display: flex;
    gap: 20px;
  }
}

.avatar {
  display: none;
  border: 2px solid var(--color-text-on-background);
  border-radius: 100%;

  @include size(50px);

  transition: border 0.1s linear;

  margin-right: 1em;

  &:hover {
    border-color: var(--color-text-on-background-dark);
  }

  @include desktop-view() {
    display: block;
  }
}

.menu-button {
  display: block;
  margin-left: auto;

  @include size(40px);

  @include desktop-view() {
    display: none;
  }
}

.mobile-menu {
  $top: 70px;

  position: absolute;
  display: flex;
  flex-direction: column;

  left: 0;
  top: $top;
  width: 100%;
  height: calc(100% - $top);
  z-index: 1000;

  background: linear-gradient(
    var(--color-background),
    var(--color-background-dark) 20%
  );

  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li,
    a {
      width: auto;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }

  .avatar {
    display: block;
    align-self: center;

    @include size(5em);
  }

  .buttons,
  .avatar {
    margin-bottom: 30px;
  }

  @include desktop-view() {
    display: none;
  }
}
