.root {
  circle {
    fill: none;
    stroke: #fff;
    stroke: 0.5;
    opacity: 0.3;
  }
}

.hex {
  fill: none;
  stroke: #e7e7e7;
  stroke-width: 2;
}

.hex-group {
  // animation: hex-anim linear infinite;
  transform-origin: 50% 50%;
  animation-duration: 9s;

  > g {
    transform: scale(calc(1 + var(--i) * 0.025));
    transform-origin: 50% 50%;
  }

  @keyframes hex-anim {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}