.root {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;

  p {
    margin-bottom: 0.5em;
  }

  h3,
  h4 {
    margin-bottom: 0.25em;
  }

  h3 {
    text-align: center;
  }

  h4 {
    margin-top: 0.5em;
  }

  ul,
  li {
    text-align: start;
  }

  ul {
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    li {
      margin-left: 1em;
    }
  }
}
