@use '../../theme/utils' as *;
@use '../../theme/breakpoints' as *;

@mixin desktop-view() {
  @include breakpoint-up('md') {
    @content;
  }
}

.image-swiper {
  margin: 1em 0.5em 0;

  @include desktop-view {
    margin: 4em 0 0;
  }
}

.greeting {
  margin: 2em 1.75em;
  text-align: justify;

  @include desktop-view {
    margin: 6em 5em;
  }

  h4 {
    display: block;
    margin-bottom: 0.5em;
  }
}

.invitation {
  margin: 0 1em 3em;

  @include desktop-view {
    margin: 0 6em 3em;
  }
}
