@use '../../../theme/breakpoints' as *;

@mixin desktop-view() {
  @include breakpoint-up('md') {
    @content;
  }
}

.root {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  @include desktop-view() {
    flex-direction: row;

    margin: 0 2em;
  }
}

.nav-side {
  padding: 1em;
  display: flex;
  flex-direction: column;

  @include desktop-view() {
    width: 20%;
  }
}

.avatar {
  box-sizing: content-box;

  aspect-ratio: 1;

  width: 80%;
  align-self: center;

  @include desktop-view() {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;

    border-radius: 2em;
  }
}

.tab-content {
  flex-grow: 1;
  padding: 1em;
}
