$gap: 4px;
$block-size: 32px;

.root {
  position: relative;

  width: $block-size * 2 + $gap;
}

.block {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: $block-size;
  height: $block-size;
  border-radius: 4px;

  background: #fff;
  box-shadow: 0 0 2px #fff;

  transition: transform .2s linear;
  transform: translate(
    calc(var(--x) * ($block-size + $gap)),
    calc(var(--y) * ($block-size + $gap))
  );

  color: var(--color-background);

  font-size: 13px;
  font-family: 'Murs Gothic';
  font-weight: 700;
}