@use '../../theme/utils' as *;

.sticker {
  @include size(40px);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    transition: background-color 0.1s linear;

    &:hover,
    &[data-selected='true'] {
      background-color: var(--color-background-dark);
    }
  }
}
