@use '../../../theme/breakpoints' as *;

.root {
  min-height: auto;
  margin-top: 1.5em;
}

.header {
  font-family: 'Murs Gothic';
  font-size: min(4em, 10vw);
  text-align: center;

  margin-bottom: 0.5em;
}

.map {
  @include breakpoint-up('md') {
    margin: 0 2em;
  }
}