@use '../../../theme/breakpoints' as *;

.root {
  min-height: auto;
  margin-top: 2em;
}

.title {
  text-align: center;
}

.grid {
  margin: 1em 0;

  @include breakpoint-up('md') {
    margin: 1em 4em;
  }
}