@use '../../theme/utils' as *;

.week-switch, .group-select {
  @include mx(auto);
}

.group-select {
  width: 15%;
  margin: 1em auto;
}

.schedule-grid {
  @include mx(1em);

  min-height: 50dvh;
  margin-bottom: 2em;
}
