.root {
  display: block;
  outline: none;

  border: 2px solid #aaa;
  border-radius: .5em;

  padding: 8px 12px;
  background-clip: content-box; 

  transition: border-color .1s linear;

  &:hover, &:focus {
    border-color: #000;
  }
}

.root-error {
  border-color: #f00;

  &:hover, &:focus {
    border-color: #ba1616;
  }
}