@use '../../theme/typography' as *;

.root {  
  width: fit-content;
}

.input {
  --border-color: var(--color-text-on-background);
  --border-color-hover: var(--color-text-on-background-dark);

  border: 2px solid var(--border-color);
  border-radius: 0.5em;

  transition: border-color 0.1s linear;

  display: flex;
  flex-direction: row;

  input {
    @include variant-full-body('body');

    color: var(--color-text-on-background);

    background: transparent;
    outline: none;
    border: none;

    align-self: stretch;

    width: 100%;

    padding: 8px 12px;
  }

  &:hover,
  &:focus-within {
    &:not([data-disabled=true]) {
      border-color: var(--border-color-hover);
    }
  }

  &[data-state='error'] {
    --border-color: var(--color-danger);
    --border-color-hover:  var(--color-danger-dark); 
  }

  &[data-disabled=true] {
    border-color: var(--color-text-on-background-dark);
  }
}

.end-content {
  align-self: stretch;

  margin: 4px;
}

.error {
  color: var(--color-danger-dark);

  margin-left: 8px;
  margin-top: 4px;
}