@use '../../theme/typography' as *;

@mixin hover-or-focused() {
  &:hover,
  &:has(input:focus) {
    @content;
  }
}

.root {
  display: flex;
  flex-direction: row;
  width: fit-content;

  border: 2px solid var(--color-text-on-background);
  border-radius: 0.5em;

  transition: border-color 0.1s linear;

  input {
    @include variant-full-body('body');

    color: var(--color-text-on-background);

    background: transparent;
    outline: none;
    border: none;

    align-self: stretch;

    width: 100%;

    padding: 8px 12px;
  }

  @include hover-or-focused() {
    border-color: var(--color-text-on-background-dark);
  }

  &[data-state='error'] {
    border-color: #f00;

    @include hover-or-focused() {
      border-color: #ba1616;
    }
  }
}

.end-content {
  align-self: stretch;

  margin: 4px;
}
