@use '../../../../theme/breakpoints' as *;

.root {
  width: 30px;
  padding-top: 4px;
  color: #aaa;
  user-select: none;
  display: none;

  p {
    font-family: Consolas;
    text-align: center;
  }

  @include breakpoint-up('md') {
    display: block;
  }
}