@use '../../theme/utils' as *;
@use '../../theme/breakpoints' as *;

.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4rem;
  background-color: var(--color-background);
  border-top: 1px solid var(--color-primary-dark);

  // --- Мобільні стилі ---
  @media (max-width: 768px) {
    flex-direction: column; // Ставимо секції одну під одною
    align-items: center; // Центруємо секції
    padding: 1.5rem 1rem; // Зменшуємо відступи
    text-align: center; // Центруємо текст всередині секцій
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  // --- Мобільні стилі ---
  @media (max-width: 768px) {
    align-items: center; // Центруємо елементи всередині секції
    margin-right: 0; // Прибираємо правий відступ
    margin-bottom: 1.5rem; // Додаємо нижній відступ
    width: 100%; // Робимо секцію на всю ширину (для кращого центрування)

    &:last-child {
      margin-bottom: 0; // У останньої секції не потрібен відступ
    }
  }
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  --icon-size: 24px;

  &-small {
    --icon-size: 16px;
  }

  svg {
    width: var(--icon-size);
    height: var(--icon-size);

    fill: var(--color-text-on-background);
    stroke: var(--color-text-on-background);
  }
}

.icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
  }
}
