@use '../../theme/breakpoints' as *;

.root {
  background: var(--color-background-dark);
  border-radius: 1em;
  box-shadow: 0 0 3px #000;

  transition: box-shadow 0.1s linear;

  &-error {
    box-shadow: 0 0 8px var(--color-danger);
  }
}

.top-header {
  display: flex;
  flex-direction: row;
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;

  .remove {
    margin-left: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1em;

  @include breakpoint-up('md') {
    flex-direction: row;
    align-items: center;

    margin-bottom: 1em;
    padding: 0 1.5em 1em;
  }

  .title {
    flex-grow: 1;
    width: unset;
    margin-bottom: 1em;

    @include breakpoint-up('md') {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  .type-select {
    min-width: 200px;

    // width: 20%;
  }
}

.content-wrapper {
  padding: 0 1em 1em;

  @include breakpoint-up('md') {
    padding: 0 1.5em;
  }
}
