@use '../../../theme/breakpoints' as *;

.root {
  position: relative;
  background: var(--color-background);
}

.dots {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: absolute;
  
  top: 50%;
  left: 5%;
  width: 30%;
  height: fit-content;
  transform: translate(0, -50%) rotate(-2deg);

  z-index: 1;

  @include breakpoint-down('md') {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    touch-action: none;

    box-shadow: 0 0 5px #0000007b;
  }
}

.glass {
  position: absolute;
  right: 5%;
  top: 50%;
  width: 40%;
  height: 60%;
  transform: translate(0, -50%);

  > * {
    padding: 1em;
    height: 100%;
  }

  @include breakpoint-down('md') {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    right: auto;

    transform: translate(-50%, -50%) !important;
  }
}
