@use '../../theme/utils' as *;

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-drop {
  width: 100%;
  align-self: stretch;
}

.progress {
  @include size(64px);
}
