@use '../../../theme/breakpoints' as *;
@use '../../../theme/utils' as *;

.image {
  margin: 2em 4em;
  height: 300px;
}

.description {
  margin: 2em 4em;
}

.save-edit-button {
  align-self: center;

  margin-bottom: 1em;
}