.root {
  $round-radius: 1em;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;
  width: fit-content;

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 0;

    background: var(--color-background-dark);
    border-radius: 9999px;

    transition: clip-path 0.25s ease-out;
    clip-path: inset(0 50% 0 0 round $round-radius);
  }

  &-second::before {
    clip-path: inset(0 0 0 50% round $round-radius);
  }

  li {
    padding: 1em;
    z-index: 1;

    user-select: none;
    cursor: pointer;

    font-weight: 700 !important;
    box-sizing: border-box;
    text-align: center;
  }

  &[aria-disabled='true'] li {
    pointer-events: none;
    color: var(--color-text-on-background-dark);
  }
}
