.info-container {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .info {
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-weight: 600;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
