.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;

  margin: 1em 5em;
}

.title {
  width: 100%;
}

.poll-builder {
  padding: 0 1em;
}

.add {
  align-self: center;
}
