.root {
  :global(.swiper-wrapper) {
    justify-content: stretch;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 100vh;
  margin-top: auto;
  margin-bottom: auto;

  > * {
    margin: 0 1em;
  }
}
