.root {
  display: flex;
  flex-direction: column;

  min-height: auto;
  margin-top: 5em;
  margin-bottom: 2em;
}

.header {
  font-size: min(3.5em, 12vw);

  margin-bottom: 0.5em;
}

.button {
  display: block;

  font-family: 'Murs Gothic', sans-serif;
  font-size: min(1.5em, 6vw);
  font-weight: 700;

  padding: 0.5em 0.75em;

  text-decoration: none;
  color: #fff;
  border: 2px solid var(--color-primary);
  border-radius: 1em;
  box-shadow: 0 0 var(--shadow-blur, 3px) var(--color-primary);
  transition: box-shadow 0.1s linear;

  align-self: center;

  &:hover {
    --shadow-blur: 8px;
  }
}
