.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.progress {
  width: 3em;
  height: 3em;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}