$mursGothicStyles: (
  400: 'KeyRegular.otf',
  500: 'WideMedium.otf',
  600: 'WideDark.ttf',
);

@each $weight, $name in $mursGothicStyles {
  @font-face {
    font-family: 'Murs Gothic';
    src: url('/fonts/MursGothic-#{$name}');
    font-weight: $weight;
    font-style: normal;
  }
}

@font-face {
  font-family: 'Press Start';
  src: url('/fonts/PressStart2P-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
