@use '../theme/utils' as *;

:root {
  --color-background: #151641;
  --color-background-dark: #111133;
  --color-text-on-background: #fff;
  --color-text-on-background-dark: #bfbfbf;

  --color-primary: #f7ff00;
  --color-primary-dark: #d6dd10;
  --color-text-on-primary: #000;
  --color-text-on-primary-dark: #333333;

  --color-danger: #f00;
  --color-danger-dark: #d31111;
  --color-text-on-danger: #fff;
  --color-text-on-danger-dark: #bfbfbf;
}

html,
body {
  @include size(100%);

  padding: 0;
  margin: 0;

  background: var(--color-background);
  color: var(--color-text-on-background);
}

body {
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
    background: var(--color-background-dark);
  }

  > main {
    flex-grow: 1;
  }
}
