.content {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  overflow-y: auto;

  width: 100%;
  max-height: 70dvh;

  padding-right: 4px;
}
