.root {
  background: var(--color-background-dark);
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4px;

  border-bottom: 1px solid var(--color-background-light);

  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.logo {
  width: 24px;
  height: 24px;
}

.navigation {
  width: 50%;
  margin: 0 auto;
}