.root {
  background: var(--color-background-dark);
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4px;
}

.logo {
  width: 24px;
  height: 24px;
}

.navigation {
  width: 50%;
  margin: 0 auto;
}