@use 'sass:math';
@use '../../../theme/breakpoints' as *;

.root {
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @include breakpoint-up('lg') {
    $columns: 6;

    display: grid;

    grid-template-columns: 1fr repeat(
        $columns,
        minmax(0, math.div(100%, $columns))
      );
  }
}
