openapi: '3.0.3'
info:
  title: Campus API
  version: '1.0'

servers:
  - url: https://api.campus.kpi.ua

components:
  schemas:
    WeekDay:
      type: string
      enum: ["Пн", "Вв", "Ср", "Чт", "Пт", "Сб"]

    Time:
      type: string
      format: "HH:mm"
      example: "12:20"

    Group:
      type: object
      properties:
        id:
          type: string
          description: Internal ID of the group
          
        name:
          type: string
          description: Code of the group

        faculty:
          type: string
          description: Short name of the faculty

        cathedra:
          type: object
          properties:
            id:
              type: number
            name:
              type: string
              description: Full name of the cathedra

      example:
        id: "00000b59-0000-0000-0000-000000000000"
        name: "КМ-23"
        faculty: "ФПМ"
        cathedra:
          id: 10169
          name: "Кафедра прикладної математики ФПМ" 

    TeacherPair:
      type: object
      properties:
        teacherName:
          type: string
          description: Full teacher's name who conducts the lesson

        type:
          type: string
          enum: 
            - "Прак on-line" 
            - "Лаб on-line"
            - "Лек on-line"
            - "Прак"
            - "Лаб"
            - "Лек"

        lecturerId:
          type: string
          description: ID of the teacher

        time:
          allOf: 
            - $ref: "#/components/schemas/Time"
            - description: When the lesson is conducted
        
        place:
          type: string
          description: > 
            Where the lesson is conducted. Empty string if it's online

        tag:
          type: string
          enum:
            - "lec"
            - "prac"
            - "lab"

      example:
        teacherName: "Чертов Олег Романович"
        lecturerId: "e1ac166c-be0d-4a58-8af5-6f1f97d23e48"
        type: "Лек on-line"
        time: "12:20"
        name: "Основи машинного навчання"
        place: ""
        tag: "lec"

    DaySchedule:
      type: object
      properties:
        day:
           $ref: "#/components/schemas/WeekDay"
        pairs:
          type: array
          items:
            allOf:
             - $ref: "#/components/schemas/TeacherPair"

    LessonSchedule:
      type: object
      properties:
        groupCode:
          type: string
          description: The internal ID of the group which has this schedule.
        scheduleFirstWeek:
          type: array
          description: Schedule in the first week cycle.
          items:
            allOf: 
              - $ref: "#/components/schemas/DaySchedule"
        scheduleSecondWeek:
          type: array
          description: Schedule in the second week cycle.
          items:
            allOf: 
              - $ref: "#/components/schemas/DaySchedule"

paths:
  "/schedule/groups":
    get:
      summary: Gets information about all the groups in the university
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"

  "/schedule/lessons?groupId={groupId}":
    get:
      summary: >
        Gets information about lesson schedule of the specified academic group.
      parameters:
        - name: "groupId"
          in: query
          schema: 
            type: number
          description: Internal ID of the group to get lesson schedule of.
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LessonSchedule"

  "/time/current":
    get:
      summary: Gets information about current week cycle, day and lesson
      responses:
        "200":
          description: OK
          content: 
            application/json:
              schema:
                type: object
                properties:
                  currentWeek:
                    type: number
                    enum: [1, 2]
                  currentDay:
                    type: number
                    description: Current weekday number, starts from 1
                  currentLesson:
                    type: number
                    description: Current lesson number, starts from 1
                example:
                  currentWeek: 1
                  currentDay: 2
                  currentLesson: 3
